.achieve{
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.section-1 {
    overflow: auto;
    /* Ensure the element is scrollable */
    scrollbar-width: none;
    /* Firefox */
}

.section-1::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari */
}
.section-1 {
     /* Hide content overflow */
    scrollbar-width: none; /* Hide scrollbar for Firefox */
    -ms-overflow-style: none; /* Hide scrollbar for Internet Explorer */
}

.section-1::-webkit-scrollbar {
    display: none; /* Hide scrollbar for WebKit browsers (Chrome, Safari, etc.) */
}
