
.search:focus{
    border: none;
    outline: none;
}

@media  (min-width:1000px) {
    /* md:w-[440px] */
    .banner-box{
        width: 400px;
    }
    .btn-group{
        display: flex;
    }
    
}
@media  (min-width:1200px) {
   
    
}