.search:focus {
    border: none;
    outline: none;
}

/* Hide scrollbars while allowing scrolling */
.banner {
    overflow: auto;
    /* Ensure the element is scrollable */
    scrollbar-width: none;
    /* Firefox */
}

.banner::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari */
}
.droup{
    position: absolute;
    top: ;
    left: 50%;
    transform: translate(-50%,-50%);
}
@media (min-width:1000px) {

    /* md:w-[440px] */
    .banner-box {
        width: 400px;
    }

    .btn-group {
        display: flex;
    }

}

@media (min-width:1200px) {}

