.box{
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    background-color: #fff;
    border-left: 10px solid transparent;
   
}
.box-sh{
    border-left: 10px solid #5624D0;
}
.box-1{
    scrollbar-width: none;
}
/* goles.css */
.big {
    width: 6px;
    height: 6px;
    background-color: black;
}

/* Additional styling for scroll indicators, etc. */
.dot {
    transition: width 0.3s, height 0.3s;
}
