.rightscroll{
    position: absolute;
    top: 50%;
    right: -20px;
   
    transform: translate(-50%,-50%);
}
.leftscroll{
    position: absolute;
    top: 50%;
    left: 50%;
    left: 35px;
 
    transform: translate(-50%,-50%);
}

.main-box {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.main-box::-webkit-scrollbar {
    display: none; /* WebKit browsers */
}


