
   

.login, .signup ,.icon-lan{
   
    border: 1px solid ;
    padding: 0 12px;
    height: 40px;
   
}
.search input{
    /* border: 1px solid black; */
    height: 46px;
    width: 100%;
    
    padding: 5px 10px;
}
.search input:focus{
    border: none;
    outline: none;

}
.search{
    /* border: 1px solid black ; */
    border-radius: 50px;
    overflow: hidden;
}
/* CSS */


.categories_3:hover,
.categories_4:hover,
.categories_2:hover,
.categories-1:hover
{
    color: blue;

}
.categories-1{
    display: none;
}
@media  (min-width:850px) {
    .categories-1{
        display: block;
    }
    .search{
        width: 22%;
    }
    .categories_3{
        display: block !important;
    }
    
}


@media  (min-width:980px) {
    .categories_4{
        display: block !important;
    }
    
}

@media  (min-width:1130px) {
    .categories_2{
        display: block !important;
    }
    
}