.domine {
    border-top: none;
    /* border-bottom: 1.5px solid #D1D7DC; */
    /* padding-right: 20px; */

}

/* Hide scrollbars while allowing scrolling */
.domine,.all-cources {
    overflow: auto;
    /* Ensure the element is scrollable */
    scrollbar-width: none;
    /* Firefox */
}

.all-cources::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari */
}
.cource-title {
    overflow: auto;
    /* Ensure the element is scrollable */
    scrollbar-width: none;
    /* Firefox */
}

.cource-title::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari */
}

.domine_name {
    padding: 8px 4px;
}

.domine_name:hover {
    color: black;
}

.domine_name {
    border-bottom: 1px solid #D1D7DC;
   
}
.domine{
    border-top: 1px solid #D1D7DC;
}

/* .domine_name:hover {
    border-bottom: 2px solid black;
} */

.cource {
    padding: 16px 24px;
}

.all-cource,
.cource__video {
    scrollbar-width: none;
}

.cources {

    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.next {
    border: 1px solid;
}

/*  */

