/* .persentage__sone{
    border-bottom: 1px solid #D1D7DC;
} */
.big{
    width: 49px ;
    background-color: purple;
}
.main {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.main::-webkit-scrollbar {
    display: none; /* WebKit browsers */
}
